html, body {
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Abel', serif;
    text-align: center;
}

.full-height {
    height: 100%;
}

.title {
    text-align: center;
    height: 100px;
}

.blackboard {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 25px solid #4b3621;
}

.draw {
    background-color: #434750;
    height: 100%;
    width: 100%;
    padding-bottom: -200px;
}

.bnt-clear {
    box-shadow:inset 0px 1px 0px 0 #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#555555;
    font-size:15px;
    font-weight:bold;
    padding:10px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.bnt-clear:hover {
    background: #f6f6f6 linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
}

.bnt-clear:active {
    position:relative;
    top:1px;
}