html {
    font-size: 10px;

}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #acd3d4;
}

.drum {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.center {
    text-align: center;
}


.instruments {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.instrument {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.keys {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 0.5rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}