html {
    font-family: 'Abel', serif;
    text-align: center;
    font-size: 12px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input {

    padding: 12px 20px;
    box-sizing: border-box;
    margin: 1rem;
}

label {
    font-family: 'Abel', serif;font-size: 18px;
    margin: .4rem 0;
}

small {
    font-size: 12px;
}

.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.form-alarm {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 2rem;
}


.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
            0 0 0 4px rgba(0,0,0,0.1),
            inset 0 0 0 3px #EFEFEF,
            inset 0 0 10px black,
            0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.current-time {
    font-family: 'Abel', serif;font-size: 24px;
}

.information-alarm {
    font-family: 'Abel', serif;font-size: 20px;
    color: #aa0000;
}

.setAlarm {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-size:15px;
    font-weight:bold;
    padding:10px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.setAlarm:hover {
    background: #f6f6f6 linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
}
.setAlarm:active {
    position:relative;
    top:1px;
}

.resetAlarm {
    box-shadow:inset 0px 1px 0px 0px #000000;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius:6px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-size:15px;
    font-weight:bold;
    padding:10px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.resetAlarm:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
.resetAlarm:active {
    position:relative;
    top:1px;
}

